<!DOCTYPE hmtl>
<hmtl>
<head>
    <title>People Details</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2><%= title %></h2>
    <p><%= body %></p>
    <p>AQUI: <%= nomeMae %></p>
</body>
</hmtl>